.history_top_menu_btn,
.user-tabs__item buttom {
    height: 100%;
    display: flex
}

.user-tabs__item buttom {
    width: 100%
}

.user-tabs__btn--active .user-tabs__btn,
.user-tabs__btn:hover {
    background-color: #648dce
}

.user-tabs__btn-inner_not-stat {
    padding: 27px 20px 27px 50px
}

@media(max-width:1200px) {
    .user-tabs__btn-inner_not-stat {
        padding: 22px 20px 22px 50px
    }
}

.item {
    position: relative;
    width: 100%;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px
}

@media(max-width:1200px) {
    .item {
        height: 150px
    }
}

@media(max-width:599px) {
    .item {
        border-radius: 4px
    }
}

@media(max-width:1200px) {
    .item:before {
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px
    }
}

.item--link {
    display: block;
    transition: none
}

.item--link,
.item--link:hover {
    color: inherit
}

.item__icon {
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 2;
    width: 32px;
    height: 32px;
    background-size: 20px 20px;
    border: 1px solid rgba(67, 79, 72, .6);
    border-radius: 4px;
    cursor: help
}

@media(max-width:900px) {
    .item__icon {
        width: 28px;
        height: 28px;
        background-size: 16px 16px
    }
}

.item__icon--sell {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/sell.png);
    background-size: contain
}

.item__icon--transfer {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/transfer.png);
    background-size: contain
}

.item__icon--upgrade {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/upgrade.png);
    background-size: contain
}

.item__icon--contracts {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/contract.png);
    background-size: contain
}

.item__icon--drop {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/cases.png)
}

.item__icon--drop,
.item__icon--sent {
    background-size: contain;
    border-color: rgba(69, 67, 79, .6)
}

.item__icon--sent {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/output.png)
}

.item__icon--breaking {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/upgrade.png)
}

.item__icon--breaking,
.item__icon--send {
    background-size: contain;
    border-color: rgba(69, 67, 79, .6)
}

.item__icon--send {
    background-image: url(https://cdn.so2baza.ru/assets/images/icon/exchanger.png)
}

@media(max-width:599px) {
    .item__price {
        top: 10px;
        right: 10px;
        font-size: 11px
    }
}

.item__image-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 10px
}

@media(max-width:1200px) {
    .item__image-wrapper {
        padding-top: 16px
    }
}

@media(max-width:599px) {
    .item__image-wrapper {
        padding-top: 22px
    }
}

.item__image {
    max-width: 85%;
    width: 100%;
    height: 100%
}

@media(max-width:599px) {
    .item__image {
        max-width: 85%
    }
}

.item__case-hover {
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 2;
    width: 40%;
    transform: translateY(10px);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease
}

.item__case-hover--contract {
    right: 15px;
    bottom: 10px;
    width: auto;
    right: 0;
    bottom: 0
}

.item--link:hover .item__case-hover {
    transform: none;
    opacity: 1
}

.item__tooltip {
    position: absolute;
    z-index: 4;
    width: 100px;
    padding: 6px 10px;
    color: #bac1d3;
    font-size: 11px;
    text-align: center;
    background-color: #3f404e;
    border-radius: 5px;
    transform: translateY(-5px);
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s ease, transform .3s ease
}

@media(max-width:900px) {
    .item__tooltip {
        font-size: 10px
    }
}

.item__tooltip:after {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid #3f404e;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: ""
}

.item__tooltip--left {
    bottom: calc(100% + 1px);
    left: -5px
}

.item__tooltip--left:after {
    bottom: -5px;
    left: 21px
}

.item__icon:hover+.item__tooltip {
    transform: none;
    visibility: visible;
    opacity: 1
}

.item__footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 13px 15px;
    font-size: 13px;
    line-height: 1.3
}

@media(max-width:1200px) {
    .item__footer {
        padding: 10px 12px
    }
}

.item--link .item__footer {
    transition: opacity .3s ease
}

.item--link:hover .item__footer {
    opacity: .5
}

.item__footer-left {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden
}

.item__skin-name,
.item__weapon-name {
    position: relative;
    z-index: 2;
    display: block;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media(max-width:900px) {

    .item__skin-name,
    .item__weapon-name {
        font-size: 12px
    }
}

@media(max-width:599px) {

    .item__skin-name,
    .item__weapon-name {
        font-size: 11px
    }
}

.item__weapon-name {
    color: #b1b1b1;
    font-weight: 300;
    font-size: 11px;
    line-height: 1.6
}

@media(max-width:900px) {
    .item__weapon-name {
        line-height: 1.4
    }
}

@media(max-width:599px) {
    .item__weapon-name {
        line-height: 1.2
    }
}

.item__skin-name {
    color: #e5e7eb
}

.container {
    position: relative;
    max-width: 2060px;
    margin: 0 auto;
    padding: 0 100px
}

@media(max-width:1350px) {
    .container {
        padding: 0 25px
    }
}

@media(max-width:599px) {
    .container {
        padding: 0 15px
    }
}

.page {
    margin-bottom: 50px;
    padding-top: 55px
}

@media(max-width:1200px) {
    .page {
        margin-bottom: 35px;
        padding-top: 45px
    }
}

@media(max-width:900px) {
    .page {
        margin-bottom: 30px;
        padding-top: 27px
    }
}

@media(max-width:599px) {
    .page {
        margin-bottom: 25px;
        padding-top: 20px
    }
}

.user-event {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 15px 16px;
    background-color: #252533;
    border-radius: 8px;
    justify-content: space-between
}

@media(max-width:1350px) {
    .user-event {
        height: 65px
    }
}

@media(max-width:900px) {
    .user-event {
        border-radius: 6px;
        height: 130px;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px
    }
}

.user-event__buttons {
    display: flex;
    flex-shrink: 0
}

@media(max-width:900px) {
    .user-event__buttons {
        margin-top: 10px
    }
}

.user-event__btn-wrapper+.user-event__btn-wrapper {
    margin-left: 6px
}

.user-event__btn {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    background: linear-gradient(224.62deg, #7c42b7 4.8%, #cc7ad3 75.17%);
    border-radius: 7px;
    transition: opacity .3s ease
}

.user-event__btn:hover {
    opacity: .7
}

.user-event__btn-tooltip {
    position: absolute;
    right: -5px;
    bottom: calc(100% + 6px);
    z-index: 1;
    min-width: 130px;
    padding: 8px 10px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    background-color: #3f404e;
    border-radius: 5px;
    transform: translateY(-5px);
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, transform .3s ease, opacity .3s ease
}

.user-event__btn-tooltip:after {
    position: absolute;
    right: 15px;
    bottom: -9px;
    width: 0;
    height: 0;
    border-top: 9px solid #3f404e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: ""
}

.user-event__btn:hover .user-event__btn-tooltip {
    transform: translateY(0);
    visibility: visible;
    opacity: 1
}

.user {
    position: relative;
    z-index: 3;
    height: 182px;
    background-color: #1c193d;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

@media(max-width:1350px) {
    .user {
        height: 160px
    }
}

@media(max-width:1200px) {
    .user {
        height: auto
    }
}

@media(max-width:900px) {
    .user {
        border-radius: 10px
    }
}

@media(max-width:599px) {
    .user {
        border-radius: 8px
    }
}

.user__inner {
    width: 100%;
    padding: 23px 26px
}

@media(max-width:1350px) {
    .user__inner {
        padding: 15px 20px
    }
}

@media(max-width:599px) {
    .user__inner {
        padding: 13px
    }
}

.user__top-content {
    height: 50px;
    margin-bottom: 18px
}

@media(max-width:1350px) {
    .user__top-content {
        margin-bottom: 15px
    }
}

@media(max-width:1200px) {
    .user__top-content {
        height: auto;
        margin-bottom: 10px
    }
}

@media(max-width:599px) {
    .user__top-content {
        margin-bottom: 0
    }
}

.user__content {
    display: flex;
    align-items: center
}

@media(max-width:599px) {
    .user__content {
        flex-wrap: wrap
    }
}

.user__photo-wrapper {
    flex-shrink: 0;
    padding-right: 14px;
    line-height: 1
}

@media(max-width:599px) {
    .user__photo-wrapper {
        padding-right: 10px
    }
}

.user__photo {
    width: 100px;
    height: 100px;
    border-radius: 8px
}

@media(max-width:900px) {
    .user__photo {
        border-radius: 6px
    }
}

@media(max-width:599px) {
    .user__photo {
        width: 100px;
        height: 100px;
        border-radius: 4px
    }
}

.user__main-info {
    flex-grow: 1;
    min-width: 0
}

.user__name-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

@media(max-width:599px) {
    .user__name-wrapper {
        margin-bottom: 2px
    }
}

.user__name {
    overflow: hidden;
    color: #b0b1ba;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media(max-width:1350px) {
    .user__name {
        font-size: 13px
    }
}

@media(max-width:599px) {
    .user__name {
        font-size: 11px
    }
}

.user__buttons {
    display: flex;
    flex-shrink: 0;
    padding-left: 30px
}

@media(max-width:599px) {
    .user__buttons {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
        padding-left: 0
    }
}

.user__balance {
    color: #fff;
    font-weight: 700;
    font-size: 20px
}

@media(max-width:1350px) {
    .user__balance {
        font-size: 25px
    }
}

@media(max-width:900px) {
    .user__balance {
        font-size: 20px
    }
}

@media(max-width:599px) {
    .user__balance {
        font-size: 20px
    }
}

.user__steam-link-wrapper {
    flex-shrink: 0;
    padding-left: 7px
}

@media(max-width:599px) {
    .user__steam-link-wrapper {
        padding-left: 5px
    }
}

.user__steam-link {
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
    background: url(https://ggdrop.io/static/media/steam.3800c3a1.svg) no-repeat;
    transition: opacity .3s ease
}

@media(max-width:599px) {
    .user__steam-link {
        width: 14px;
        height: 14px
    }
}

.user__steam-link:hover {
    opacity: .7
}

@media(max-width:599px) {
    .user__btn-wrapper {
        width: 100%;
        margin-top: 5px
    }
}

.user__btn-wrapper+.user__btn-wrapper {
    padding-left: 8px
}

@media(max-width:599px) {
    .user__btn-wrapper+.user__btn-wrapper {
        padding-left: 0
    }
}

.user__btn {
    position: relative;
    padding: 17px 45px 17px 22px;
    color: #fff;
    font-size: 12px;
    /* text-transform: uppercase; */
    background-color: #232245;
    border-radius: 7px;
    transition: background-color .3s ease
}

@media(max-width:1600px) {
    .user__btn {
        width: 49px;
        height: 49px;
        padding: 0;
        font-size: 0
    }
}

@media(max-width:1350px) {
    .user__btn {
        width: 44px;
        height: 44px;
        width: unset;
        height: unset;
        padding: 15px 40px 15px 20px;
        font-size: 14px
    }
}

@media(max-width:900px) {
    .user__btn {
        border-radius: 6px
    }
}

@media(max-width:599px) {
    .user__btn {
        width: 100%;
        padding: 13px 40px 13px 20px;
        text-align: left;
        border-radius: 4px
    }
}

.user__btn:hover {
    background-color: #03dc66
}

.user__btn__add_id {
    color: #fff;
    background-color: #465ed4;
    transition: background-color .3s ease, border-color .3s ease
}

.user__btn__add_id:before {
    background: url(https://cdn.so2baza.ru/assets/images/icon/id.png) no-repeat;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    background-size: contain;
    content: "";
    right: 5px
}

@media(max-width:1200px) {
    .user__btn__add_id:before {
        right: 7px;
        width: 30px;
        height: 30px;
        margin-top: -16px
    }
}

.user__btn__add_id:hover {
    background-color: #d44646;
    border-color: #d44646
}

.user__btn--money {
    color: #fff;
    background-color: #465ed4;
    transition: background-color .3s ease, border-color .3s ease
}

.user__btn--money:before {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    right: 5px;
    content: "";
    background: url(https://cdn.so2baza.ru/assets/images/icon/money.png) no-repeat;
    background-size: contain
}

@media(max-width:1200px) {
    .user__btn--money:before {
        right: 7px;
        width: 30px;
        height: 30px;
        margin-top: -16px
    }
}

.user__btn--mony:hover {
    background-color: #d44646;
    border-color: #d44646
}

.best-drop {
    display: flex;
    align-items: center;
    height: 182px;
    padding: 22px;
    background-color: rgba(16, 16, 22, .6);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

@media(max-width:1350px) {
    .best-drop {
        height: 160px;
        padding: 20px 25px
    }
}

@media(max-width:1200px) {
    .best-drop {
        height: 150px;
        padding: 25px 20px
    }
}

@media(max-width:900px) {
    .best-drop {
        height: auto;
        padding: 20px;
        border-radius: 10px
    }
}

@media(max-width:1200px) {
    .best-drop__info {
        flex-grow: 1
    }
}

.best-drop__title {
    margin-bottom: 12px;
    color: #8b8e9e;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase
}

.best-drop__skin {
    position: relative;
    width: 165px;
    height: 127px;
    border-radius: 8px;
    margin-left: 10px
}

@media(max-width:900px) {
    .best-drop__skin {
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.best-drop__skin:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    background-color: #a6a6a6;
    box-shadow: -2px -2px 17px hsla(0, 0%, 63.9%, .6), -2px -2px 10px hsla(0, 0%, 63.9%, .6);
    content: ""
}

@media(max-width:1350px) {
    .best-drop__skin {
        width: 140px;
        height: 100px
    }
}

.best-drop__skin-info {
    width: 125px;
    margin-bottom: 8px
}

.best-drop__skin-title {
    color: #a2a3aa;
    font-size: 11px
}

.best-drop__skin-subtitle,
.best-drop__skin-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.best-drop__skin-subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    white-space: normal
}

@media(max-width:1350px) {
    .best-drop__skin-subtitle {
        font-size: 12px
    }
}

.best-drop__logo {
    position: absolute;
    top: 23px;
    left: 43px;
    width: 78px;
    height: 80px;
    transition: transform .3s ease
}

.best-drop:hover .best-drop__logo {
    transform: rotate(1turn)
}

@media(max-width:1350px) {
    .best-drop__logo {
        visibility: hidden
    }
}

.best-drop__image {
    margin-top: 10px;
    z-index: 1;
    backface-visibility: hidden;
    transition: transform .4s ease
}

.best-drop__price {
    display: inline-block;
    padding: 5px 10px;
    color: #64ce82;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    background-color: rgba(69, 113, 84, .12);
    border-radius: 6px
}

@media(max-width:1350px) {
    .best-drop__price {
        font-size: 28px
    }
}

@media(max-width:900px) {
    .best-drop__price {
        font-size: 20px;
        border-radius: 4px
    }
}

.user-avatar {
    display: flex;
    align-items: center;
    height: max-content;
    padding: 22px;
    background-color: #1c193d;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

@media(max-width:1350px) {
    .user-avatar {
        height: max-content;
        padding: 20px 15px 20px 25px
    }
}

@media(max-width:1200px) {
    .user-avatar {
        height: max-content;
        padding: 25px 20px
    }
}

@media(max-width:900px) {
    .user-avatar {
        height: max-content;
        padding: 25px 20px
    }
}

.user-avatar__info {
    width: 155px;
    padding-right: 25px
}

@media(max-width:1350px) {
    .user-avatar__info {
        width: 140px
    }
}

@media(max-width:1200px) {
    .user-avatar__info {
        flex-grow: 1;
        height: auto
    }
}

.user-avatar__title {
    margin-bottom: 15px;
    color: #8b8e9e;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase
}

.user-avatar__content {
    margin-bottom: 12px;
    color: #c3c8d2;
    font-weight: 700;
    font-size: 14px
}

@media(max-width:1350px) {
    .user-avatar__content {
        overflow: hidden;
        font-size: 13px;
        /* white-space: nowrap; */
        text-overflow: ellipsis
    }
}

.user-avatar__btn {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #465ed4;
    border-radius: 6px;
    transition: background-color .3s, color .3s ease;
    cursor: pointer;
    text-align: center;
    padding: 10px
}

.user-avatar__btn:hover {
    color: #fff;
    background-color: #d44646
}

@media(max-width:1350px) {
    .user-avatar__btn {
        padding: 13px 20px
    }
}

.user-avatar__case-image {
    width: 135px;
    backface-visibility: hidden;
    transition: transform .3s ease
}

.user-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 14px 5px 5px;
    background-color: #1c193d;
    border-radius: 12px
}

@media(max-width:1200px) {
    .user-tabs {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
        padding-right: 5px
    }
}

@media(max-width:900px) {
    .user-tabs {
        border-radius: 8px
    }
}

@media(max-width:599px) {
    .user-tabs {
        border-radius: 6px
    }
}

.user-tabs__list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: -4px -2px 0
}

.user-tabs__item {
    flex-shrink: 0;
    padding: 4px 2px 0
}

@media(max-width:799px) {
    .user-tabs__item {
        width: 50%
    }
}

.user-tabs__btn {
    position: relative;
    overflow: hidden;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #64ce82;
    border-radius: 6px;
    transition: background-color .3s ease, color .3s ease;
    width: 100%
}

@media(max-width:1200px) {
    .user-tabs__btn {
        font-size: 11px
    }
}

@media(max-width:900px) {
    .user-tabs__btn {
        font-size: 10px
    }
}

@media(max-width:599px) {
    .user-tabs__btn {
        font-size: 9px;
        border-radius: 4px
    }
}

.user-tabs__btn:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #465ed4;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s ease;
    content: ""
}

@media(max-width:599px) {
    .user-tabs__btn:before {
        border-radius: 4px
    }
}

.user-tabs__btn:hover {
    color: #000;
    background-color: #91ffb0
}

.user-tabs__btn--active,
.user-tabs__btn--active:hover {
    color: #fff
}

.user-tabs__btn--active:before,
.user-tabs__btn--active:hover:before {
    visibility: visible;
    opacity: 1
}

.user-tabs__btn-inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 50px
}

@media(max-width:1200px) {
    .user-tabs__btn-inner {
        padding: 16px 16px 16px 50px
    }
}

@media(max-width:900px) {
    .user-tabs__btn-inner {
        padding: 8px 8px 8px 38px;
        justify-content: space-between
    }
}

.user-tabs__btn-inner_not-stat {
    position: relative;
    display: flex;
    align-items: center;
    padding: 22px 20px 22px 50px
}

@media(max-width:900px) {
    .user-tabs__btn-inner_not-stat {
        padding: 14px 20px 14px 38px
    }
}

.user-tabs__count {
    margin-left: 10px;
    padding: 7px 8px;
    color: #fff;
    font-size: 12px;
    background-color: #465ed4;
    border-radius: 5px;
    transition: background-color .3s ease, color .3s ease
}

@media(max-width:1200px) {
    .user-tabs__count {
        padding: 6px 7px;
        font-size: 11px
    }
}

@media(max-width:900px) {
    .user-tabs__count {
        margin-left: 8px;
        padding: 6px 7px;
        font-size: 10px;
        border-radius: 4px
    }
}

.user-tabs__btn:hover .user-tabs__count {
    color: #fff;
    background-color: #d44646
}

.user-tabs__btn--active .user-tabs__count,
.user-tabs__btn--active:hover .user-tabs__count {
    color: #000;
    background-color: #64ce82
}

.user-tabs__btn-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 35px;
    height: 35px;
    margin-top: -18px
}

@media(max-width:900px) {
    .user-tabs__btn-icon {
        left: 5px;
        width: 24px;
        height: 24px;
        margin-top: -12px
    }
}

.user-tabs__btn-icon img {
    filter: none
}

.user-tabs__available {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 20px;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: color .3s ease, opacity .3s ease;
    height: 52px;
    background: #f0f8ff;
    justify-content: center;
    font-weight: 600
}

.user-tabs__available:hover {
    opacity: .7
}

@media(max-width:1200px) {
    .user-tabs__available {
        height: 48px
    }
}

@media(max-width:900px) {
    .user-tabs__available {
        height: 42px
    }
}

@media(max-width:799px) {
    .user-tabs__available {
        width: 100% !important
    }
}

@media(max-width:599px) {
    .user-tabs__available {
        height: 42px;
        font-size: 10px;
        border-radius: 6px
    }
}

.user-tabs__available-toggle {
    position: relative;
    width: 29px;
    height: 22px;
    margin-left: 12px;
    background-color: #232432;
    border-radius: 8px;
    transition: background-color .3s ease
}

@media(max-width:599px) {
    .user-tabs__available-toggle {
        height: 20px;
        border-radius: 6px
    }
}

.user-tabs__available-toggle:before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-color: #4f505c;
    border-radius: 5px;
    transition: transform .3s ease, background-color .3s ease;
    content: ""
}

@media(max-width:599px) {
    .user-tabs__available-toggle:before {
        width: 12px;
        height: 12px;
        border-radius: 4px
    }
}

.user-tabs__available--on .user-tabs__available-toggle {
    background-color: #3c332f
}

.user-tabs__available--on .user-tabs__available-toggle:before {
    background-color: #e69d5d;
    transform: translateX(7px)
}

.user-tabs__sell-btn-wrapper {
    flex-shrink: 0;
    margin-left: 10px;
    margin: 3px
}

@media(max-width:799px) {
    .user-tabs__sell-btn-wrapper {
        width: 50%;
        margin: 3px auto;
        padding: 0 3px
    }
}

.user-tabs__sell-btn {
    position: relative;
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0 16px 0 48px;
    color: #fff;
    font-size: 13px;
    border: 1px solid #2e2925;
    border-radius: 8px;
    transition: opacity .3s ease, color .3s ease, border-color .3s ease;
    background-color: #465ed4;
    width: 100%
}

@media(max-width:1200px) {
    .user-tabs__sell-btn {
        height: 48px
    }
}

@media(max-width:900px) {
    .user-tabs__sell-btn {
        height: 42px;
        padding-right: 12px;
        padding-left: 40px;
        font-size: 12px
    }
}

@media(max-width:599px) {
    .user-tabs__sell-btn {
        width: 100%;
        height: 38px;
        font-size: 11px;
        border-radius: 6px
    }
}

.user-tabs__sell-btn:hover {
    color: #fff;
    background-color: #6e82e4
}

.icon_dop__menu:before {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 22px;
    height: 22px;
    margin-top: -11px
}

@media(max-width:900px) {
    .icon_dop__menu:before {
        left: 12px;
        width: 18px;
        height: 18px;
        margin-top: -9px
    }
}

.sell_all_btn:before {
    background: url(https://cdn.so2baza.ru/assets/images/user/icon/sell_all_btn.png) no-repeat;
    content: "";
    background-size: contain
}

.send_item_users:before {
    background: url(https://cdn.so2baza.ru/assets/images/user/icon/send_item_users.png) no-repeat;
    content: "";
    background-size: contain
}

.gift_code:before {
    background: url(https://cdn.so2baza.ru/assets/images/user/icon/gift_code.png) no-repeat;
    content: "";
    background-size: contain
}

.exchanger_btn:before {
    background: url(https://cdn.so2baza.ru/assets/images/user/icon/exchanger_btn.png) no-repeat;
    content: "";
    background-size: contain
}

.bay_skin:before {
    background: url(https://cdn.so2baza.ru/assets/images/user/icon/bay_skin.png) no-repeat;
    content: "";
    background-size: contain
}

.kak_output:before {
    background: url(https://cdn.so2baza.ru/assets/images/user/icon/kak_output.png) no-repeat;
    content: "";
    background-size: contain
}

.user-tabs__additional {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -8px -4px 0
}

@media(max-width:599px) {
    .items {
        margin: -6px -3px 0
    }
}

.items__item {
    position: relative;
    flex-shrink: 0;
    width: 14.2857%;
    margin-top: 8px;
    padding: 0 4px
}

@media(max-width:1550px) {
    .items__item {
        width: 16.6666%
    }
}

@media(max-width:1300px) {
    .items__item {
        width: 20%
    }
}

@media(max-width:1200px) {
    .items__item {
        width: 25%
    }
}

@media(max-width:900px) {
    .items__item {
        width: 33.3333%
    }
}

@media(max-width:599px) {
    .items__item {
        width: 50%;
        margin-top: 6px;
        padding: 0 3px
    }
}

.orders__list {
    justify-content: flex-start !important;
    margin-bottom: 30px !important
}

@media(max-width:900px) {
    .orders__list {
        margin-bottom: 20px !important
    }
}

.profile {
    max-width: 1400px;
    margin: 0 auto
}

.profile-header {
    display: flex;
    margin-bottom: 20px
}

@media(max-width:1200px) {
    .profile-header {
        flex-wrap: wrap;
        margin-bottom: 15px
    }
}

@media(max-width:599px) {
    .profile-header {
        margin-bottom: 0
    }
}

.profile-header__user {
    flex-grow: 1;
    min-width: 0
}

@media(max-width:1200px) {
    .profile-header__user {
        width: 100%;
        margin-bottom: 15px
    }
}

.profile-header__info {
    display: flex;
    flex-shrink: 0;
    flex-direction: row
}

@media(max-width:1200px) {
    .profile-header__info {
        width: 100%
    }
}

@media(max-width:599px) {
    .profile-header__info {
        flex-direction: column-reverse
    }
}

.profile-header__additional {
    flex-shrink: 0;
    padding-left: 10px
}

@media(max-width:1200px) {
    .profile-header__additional {
        width: 50%;
        padding-left: 0
    }

    .profile-header__additional+.profile-header__additional {
        padding-left: 10px
    }
}

@media(max-width:1200px) and (max-width:900px) {
    .profile-header__additional+.profile-header__additional {
        padding-left: 10px
    }
}

@media(max-width:599px) {
    .profile-header__additional+.profile-header__additional {
        padding-left: 0
    }
}

@media(max-width:900px) {
    .profile-header__additional {
        width: 50%
    }
}

@media(max-width:599px) {
    .profile-header__additional {
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px
    }
}

.user-contract-item {
    position: relative;
    height: 73px;
    border-radius: 8px;
    cursor: help
}

@media(max-width:1250px) {
    .user-contract-item {
        height: 62px
    }
}

@media(max-width:1200px) {
    .user-contract-item {
        height: 57px
    }
}

@media(max-width:599px) {
    .user-contract-item {
        height: 54px;
        border-radius: 4px
    }
}

.user-contract-item--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f1f2c;
    cursor: default
}

.user-contract-item--empty:after {
    display: none
}

.user-contract-item__empty-image {
    max-width: 70%;
    margin-top: 5px
}

.user-contract-item__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center
}

.user-contract-item__image {
    max-width: 80%;
    max-height: 65%
}

.user-contract-item__tooltip {
    position: absolute;
    right: 0;
    bottom: calc(100% + 3px);
    z-index: 1;
    width: 150px;
    padding: 8px 10px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    background-color: #3f404e;
    border-radius: 5px;
    transform: translateY(-5px);
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, transform .3s ease, opacity .3s ease
}

@media(max-width:599px) {
    .user-contract-item__tooltip {
        width: 130px;
        font-size: 10px;
        border-radius: 4px
    }
}

.user-contract-item__tooltip:after {
    position: absolute;
    right: 15px;
    bottom: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid #3f404e;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: ""
}

.user-contract-item:hover .user-contract-item__tooltip {
    transform: translateY(0);
    visibility: visible;
    opacity: 1
}

.user-contract {
    padding: 10px;
    background-color: #1d1d28;
    border-radius: 14px
}

@media(max-width:900px) {
    .user-contract {
        border-radius: 10px
    }
}

@media(max-width:599px) {
    .user-contract {
        border-radius: 6px
    }
}

.user-contract__main-content {
    display: flex;
    margin-bottom: 10px
}

.user-contract__item {
    position: relative;
    flex-shrink: 0;
    width: 166px;
    height: 152px;
    border-radius: 8px
}

@media(max-width:1250px) {
    .user-contract__item {
        width: 140px;
        height: 130px
    }
}

@media(max-width:1200px) {
    .user-contract__item {
        width: 120px;
        height: 120px
    }
}

@media(max-width:900px) {
    .user-contract__item {
        width: 150px
    }
}

@media(max-width:599px) {
    .user-contract__item {
        width: 90px;
        height: 110px;
        border-radius: 6px
    }
}

.user-contract__logo {
    position: absolute;
    top: 28px;
    left: 50%;
    width: 78px;
    height: 80px;
    margin-left: -39px
}

@media(max-width:1200px) {
    .user-contract__logo {
        width: 64px;
        height: 66px;
        margin-left: -32px
    }
}

@media(max-width:599px) {
    .user-contract__logo {
        top: 32px;
        width: 46px;
        height: 47px;
        margin-left: -23px
    }
}

.user-contract__image-wrapper {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    text-align: center
}

@media(max-width:599px) {
    .user-contract__image-wrapper {
        top: 27px
    }
}

.user-contract__image {
    width: 150px;
    height: auto
}

@media(max-width:1200px) {
    .user-contract__image {
        width: 95px;
        height: auto
    }
}

@media(max-width:599px) {
    .user-contract__image {
        width: 75px
    }
}

.user-contract__price {
    position: absolute;
    top: 12px;
    right: 14px;
    z-index: 1;
    color: #64ce82;
    font-weight: 700;
    font-size: 12px
}

@media(max-width:1200px) {
    .user-contract__price {
        top: 8px;
        right: 10px;
        font-size: 11px
    }
}

@media(max-width:599px) {
    .user-contract__price {
        right: 8px;
        font-size: 9px
    }
}

.user-contract__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 17px
}

@media(max-width:1200px) {
    .user-contract__info {
        padding: 9px 10px
    }
}

.user-contract__subtitle,
.user-contract__title {
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media(max-width:1200px) {

    .user-contract__subtitle,
    .user-contract__title {
        font-size: 11px
    }
}

@media(max-width:599px) {

    .user-contract__subtitle,
    .user-contract__title {
        font-size: 10px
    }
}

.user-contract__title {
    color: #b1b1b1;
    font-weight: 400
}

@media(max-width:1200px) {
    .user-contract__title {
        margin-bottom: 1px
    }
}

.user-contract__total-info {
    display: flex;
    padding: 13px 19px;
    font-weight: 700;
    font-size: 13px;
    border: 1px dashed #2c2e3c;
    border-radius: 8px
}

@media(max-width:1200px) {
    .user-contract__total-info {
        padding: 10px 15px;
        font-size: 12px
    }
}

@media(max-width:599px) {
    .user-contract__total-info {
        font-size: 11px;
        border-radius: 6px
    }
}

.user-contract__total-price {
    flex-grow: 1;
    color: #64ce82
}

.user-contract__total-count {
    flex-shrink: 0;
    color: #f3a45d
}

@media(max-width:1200px) {
    .user-contract__total-count {
        display: none
    }
}

.user-contract__total-label {
    color: #bac1d3;
    font-weight: 400
}

.user-contract__items {
    flex-grow: 1;
    padding-left: 10px
}

@media(max-width:1250px) {
    .user-contract__items {
        padding-left: 7px
    }
}

@media(max-width:599px) {
    .user-contract__items {
        padding-left: 4px
    }
}

.user-contract__items-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6px;
    margin-left: -5px
}

@media(max-width:599px) {
    .user-contract__items-list {
        margin-top: -2px;
        margin-left: -1px
    }
}

.user-contract__items-item {
    width: 20%;
    padding-top: 6px;
    padding-left: 5px
}

@media(max-width:599px) {
    .user-contract__items-item {
        padding-top: 2px;
        padding-left: 2px
    }
}

.user-contracts__list {
    display: flex;
    flex-wrap: wrap;
    margin: -26px -13px 30px
}

@media(max-width:1250px) {
    .user-contracts__list {
        margin: -18px -6px 30px
    }
}

@media(max-width:900px) {
    .user-contracts__list {
        margin: -10px -6px 20px
    }
}

.user-contracts__item {
    width: 50%;
    padding: 26px 13px 0
}

@media(max-width:1250px) {
    .user-contracts__item {
        padding: 18px 6px 0
    }
}

@media(max-width:900px) {
    .user-contracts__item {
        width: 100%;
        padding: 10px 6px 0
    }
}

.hide_profil span {
    color: #ffa5a5 !important
}

.open_profil span {
    color: #39d013 !important
}

.link_val_profil {
    flex-shrink: 0;
    font-size: 24px;
    color: #fffae7;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    background: rgba(240, 248, 255, .04);
    margin: 0 5px
}

.withdrawal-not__btn {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #f00606;
    border-radius: 6px;
    transition: background-color .3s, color .3s ease;
    cursor: pointer
}

.user-withdrawal__content {
    display: flex;
    padding: 16px 15px 15px;
    background-color: #1d1d28;
    border-radius: 12px 12px 0 0
}

@media(max-width:900px) {
    .user-withdrawal__content {
        border-radius: 10px 10px 0 0
    }
}

@media(max-width:599px) {
    .user-withdrawal__content {
        border-radius: 8px 8px 0 0
    }
}

.user-withdrawal__content-item {
    width: 50%;
    padding-right: 5px
}

.user-withdrawal__content-item+.user-withdrawal__content-item {
    position: relative;
    padding-right: 0;
    padding-left: 5px
}

.user-withdrawal__title {
    margin-bottom: 13px;
    color: #bac1d3;
    font-weight: 900;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase
}

@media(max-width:900px) {
    .user-withdrawal__title {
        font-size: 10px
    }
}

.user-withdrawal__info {
    display: flex;
    background-color: #21212e;
    border-radius: 0 0 12px 12px
}

@media(max-width:900px) {
    .user-withdrawal__info {
        border-radius: 0 0 10px 10px
    }
}

@media(max-width:599px) {
    .user-withdrawal__info {
        border-radius: 0 0 8px 8px
    }
}

.user-withdrawal__info-bet,
.user-withdrawal__info-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 14px 17px
}

@media(max-width:1200px) {

    .user-withdrawal__info-bet,
    .user-withdrawal__info-result {
        padding: 10px 17px
    }
}

.user-withdrawal__info-result {
    border-left: 1px solid #252633
}

.user-withdrawal__chance {
    color: #f3a45d;
    font-weight: 900;
    font-size: 12px;
    text-align: center
}

.user-withdrawal__info-label {
    padding-top: 2px;
    color: #9399a7;
    font-weight: 700;
    font-size: 9px;
    text-transform: uppercase
}

.user-withdrawal__result {
    padding: 6px 9px;
    color: #272735;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #64ce82;
    border-radius: 5px;
    margin-bottom: 10px
}

@media(max-width:900px) {
    .user-withdrawal__result {
        font-size: 9px
    }
}

.user-withdrawal__result--0 {
    color: #fff;
    background-color: rgba(50, 209, 10, .21)
}

.user-withdrawal__result--1 {
    color: #fff;
    background-color: #e28709
}

.user-withdrawal__result--2 {
    color: #fff;
    background-color: rgba(29, 148, 11, .93)
}

.user-withdrawal__result--3,
.user-withdrawal__result--4,
.user-withdrawal__result--5 {
    color: #ff6972;
    background-color: rgba(209, 86, 94, .21)
}

.user-withdrawal__item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 114px;
    border-radius: 8px
}

@media(max-width:900px) {
    .user-withdrawal__item {
        border-radius: 6px
    }
}

.user-withdrawal__item:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    background-color: #a6a6a6;
    box-shadow: -2px -2px 17px hsla(0, 0%, 63.9%, .6), -2px -2px 10px hsla(0, 0%, 63.9%, .6);
    content: ""
}

@media(max-width:900px) {
    .user-withdrawal__item:after {
        width: 40px;
        margin-left: -20px
    }
}

.user-withdrawal__image-wrapper {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    text-align: center
}

@media(max-width:900px) {
    .user-withdrawal__image-wrapper {
        top: 15px
    }
}

.user-withdrawal__image {
    max-width: 90%
}

@media(max-width:1200px) {
    .user-withdrawal__image {
        max-width: 60%
    }
}

@media(max-width:900px) {
    .user-withdrawal__image {
        max-width: 85%
    }
}

.user-withdrawal__price {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    padding: 5px;
    background: red;
    border-radius: 3px
}

.user-withdrawal__item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 15px
}

@media(max-width:900px) {
    .user-withdrawal__item-info {
        padding: 10px 12px
    }
}

.user-withdrawal__item-subtitle,
.user-withdrawal__item-title {
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media(max-width:900px) {

    .user-withdrawal__item-subtitle,
    .user-withdrawal__item-title {
        font-size: 10px
    }
}

.user-withdrawal__item-title {
    margin-bottom: 1px;
    color: #b1b1b1;
    font-weight: 400;
    font-size: 10px
}

.user-withdrawal__points-bet {
    position: relative;
    width: 100%;
    height: 114px;
    border-radius: 8px
}

@media(max-width:900px) {
    .user-withdrawal__points-bet {
        border-radius: 6px
    }
}

.user-withdrawal__items-image-wrapper {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    text-align: center
}

.user-withdrawal__items-image {
    max-width: 90%
}

@media(max-width:1200px) {
    .user-withdrawal__items-image {
        max-width: 60%
    }
}

@media(max-width:900px) {
    .user-withdrawal__items-image {
        max-width: 85%
    }
}

.user-withdrawal__points-title {
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
    color: #f49e4a;
    font-weight: 700;
    font-size: 11px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis
}

.user-withdrawals__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -5px 30px
}

@media(max-width:900px) {
    .user-withdrawals__list {
        margin-bottom: 20px
    }
}

.user-withdrawals__item {
    width: 25%;
    padding: 10px 5px 0
}

@media(max-width:1500px) {
    .user-withdrawals__item {
        width: 33.3333%
    }
}

@media(max-width:1200px) {
    .user-withdrawals__item {
        width: 50%
    }
}

@media(max-width:599px) {
    .user-withdrawals__item {
        width: 100%
    }
}

.item__take-btn {
    display: inline-block;
    padding: 6px 8px;
    color: #25252d;
    background-color: #cda522;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(12, 11, 13, .22);
    transition: background-color .3s ease
}

.item__take-btn:hover {
    background-color: #ffc100
}

.item__sell-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    display: inline-block;
    padding: 8px 11px;
    color: #272735;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #64ce82;
    border-radius: 4px;
    transition: background-color .3s ease
}

.item__sell-btn:hover {
    background-color: #59caa1
}

@media(max-width:900px) {
    .item__sell-btn {
        padding: 8px 10px;
        font-size: 10px
    }
}

@media(max-width:599px) {
    .item__sell-btn {
        padding: 7px;
        font-size: 9px
    }
}

.case-price1 {
    transform: translate(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: .875rem;
    color: gold;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .25s;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 600;
}