{% load static %}
{% csrf_token %}
 
{% if request.user.is_authenticated %}

<!DOCTYPE html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">

   

    <!-- Custom css files -->
    <link rel="shortcut icon" href= {% static 'img/favicon.jpg' %}>
    



    {% block head %}
        
    {% endblock %}
</head>

<body style="background-color: #17171f;">
    <div class="preload"><canvas id="snow"></canvas>
        <div class="wrapper">
            <header id="header" class="header">
                <div class="container">
                    <div class="header__wrapper"><a class="header__logo logo" href="{% url 'index' %}"><img style="width: 185px;" class="logo__img"
                                src=" {% static 'img/svg/log.png' %} " alt="logo"> </a>  <a href="+++++++++++++" class="image-text">
                                    <!-- <div class="image-text__image">
                                     <img src={% static 'img/gold.png' %} height="90"  />
                                    </div>
                                    <div class="image-text__text">
                                     <h1 style="color:rgb(255, 217, 4); font-size: 50px;">{{ user.gold }}</h1>
                                    </div>
                                    <img style="margin-left: 10px ;" src={% static 'img/icons/plus.png' %} height="37"  /> -->
                                </a> <a class="burger-btn"
                            href="#"><span></span></a>
                        <nav class="menu">
                            
                            
                            <ul class="menu__list" >
                                
                                <li class="menu__item"><a class="menu__link" href="{% url 'index' %}">ASOSIY</a></li>
                                <li class="menu__item"><a class="menu__link" href="gold.html">GOLD</a></li>
                                <!-- <li class="menu__item"><a class="menu__link" href="guarantees.html">GARANTIYA</a></li> -->
                                <li class="menu__item"><a class="menu__link" href="reviews.html">OTZIVLAR</a></li>
                                <li class="menu__item"><a class="menu__link" href="about.html">BIZ HAQIMIZDA</a></li>
                                <li class="menu__item"><a class="menu__link" href="support.html">BIZ BILAN BOG'LANISH</a></li>
                                <li class="menu__item"><a class="menu__link" href="{% url 'logout' %}">CHIQISH</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

                    {% block content %}

                    {% endblock %}

            <footer class="footer">
                <div class="footer__top">
                    <div class="container">
                        <div class="footer__row row">
                            <article class="footer__col col-6 col-md-12">
                                <div class="footer-about"><a class="footer-about__logo logo" href="index.html"><img
                                            class="logo__img" src=" {% static 'img/svg/logo.svg' %} " alt="logo"></a>
                                    <p class="footer-about__text">Stand Service – это мощная команда бустеров, про-игроков и
                                        просто любителей игры Standoff 2. В нашем арсенале новейшие технологии, любовь к
                                        своему делу и многолетний опыт. Мы знаем, с чем имеем дело. И мы знаем, как Вам
                                        помочь.</p>
                                    <ul class="footer-about__list">
                                        <li class="footer-about__item"><a class="footer-about__link" target="_blank"
                                                href="https://t.me/middlebooster">Сотрудничество с нами</a></li>
                                        <li class="footer-about__item"><a class="footer-about__link"
                                                href="agreement.html">Пользовательское соглашение</a></li>
                                    </ul>
                                </div>
                            </article>
                            <article class="footer__col col-2 col-md-12">
                                <div class="footer-menu">
                                    <h5 class="footer-title">МЕНЮ</h5>
                                    <ul class="footer-menu__list">
                                        <li class="footer-menu__item"><a class="footer-menu__link"
                                                href="index.html">ГЛАВНАЯ</a></li>
                                        <li class="footer-menu__item"><a class="footer-menu__link"
                                                href="gold.html">ГОЛДА</a></li>
                                        <li class="footer-menu__item"><a class="footer-menu__link"
                                                href="boosting.html">БУСТИНГ</a></li>
                                        <li class="footer-menu__item"><a class="footer-menu__link"
                                                href="guarantees.html">ГАРАНТИИ</a></li>
                                        <li class="footer-menu__item"><a class="footer-menu__link"
                                                href="reviews.html">ОТЗЫВЫ</a></li>
                                        <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">О
                                                НАС</a></li>
                                        <li class="footer-menu__item"><a class="footer-menu__link"
                                                href="support.html">ПОДДЕРЖКА</a></li>
                                    </ul>
                                </div>
                            </article>
                            <article class="footer__col col-4 col-md-12">
                                <div class="footer-widget">
                                    <h5 class="footer-title">TELEGRAM</h5><iframe id="tgw_619f2beeeea51566507f0513"
                                        frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no"
                                        width="100%" height="350px" async></iframe>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="container">
                        <div class="footer-box">
                            <div class="footer-box__item">
                                <p class="footer-box__copyright-text">⚡<a href="index.html">STAND-SERVICE.RU</a> © 2019-2022
                                </p>
                            </div>
                            <div class="footer-box__item">
                                <ul class="footer-box__icons-list">
                                    <li class="footer-box__icons-item"><a class="icon-vk" target="_blank"
                                            href="https://vk.com/oldbooster"></a></li>
                                    <li class="footer-box__icons-item"><a class="icon-tg" target="_blank"
                                            href="https://t.me/stand_service"></a></li>
                                    <li class="footer-box__icons-item"><a class="icon-yt" target="_blank"
                                            href="https://www.youtube.com/channel/UCrjLG44uv713SOCcIKYpm9w/featured"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>  
    </div>
</body>

<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
    integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>

    
    {% else %}
<h1>404</h1>

{% endif %}


