{% extends 'base.html' %}

{% block content %}

    <!-- <div class="main-screen"><a class="main-screen__logo logo" href="index.html"><img class="logo__img"
                src="img/svg/logo.svg" alt="logo"></a>
        <h1 class="main-title">STAND SERVICE <span class="main-text">ТВОЙ ПЕРСОНАЛЬНЫЙ ПОМОЩНИК В STAND<span>OFF
                    2</span></span></h1>
        <ul class="main-social">
            <li class="main-social__item"><a class="main-social__link" target="_blank"
                    href="https://vk.com/oldbooster"><img class="main-social__img" src="img/svg/vk.svg" alt="vk"></a>
            </li>
            <li class="main-social__item"><a class="main-social__link" target="_blank"
                    href="https://t.me/stand_service"><img class="main-social__img" src="img/svg/tg.svg" alt="tg"></a>
            </li>
            <li class="main-social__item"><a class="main-social__link" target="_blank"
                    href="https://www.youtube.com/channel/UCrjLG44uv713SOCcIKYpm9w/featured"><img
                        class="main-social__img" src="img/svg/yt.svg" alt="yt"></a></li>
        </ul>
    </div> -->
    <!-- <div class="wrapper"> -->
        <!-- <header id="header" class="header">
            <div class="container">
                <div class="header__wrapper"><a class="header__logo logo" href="index.html"><img class="logo__img"
                            src="img/svg/logo.svg" alt="logo"> </a><a class="burger-btn"
                        href="index.html#header"><span></span></a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item"><a class="menu__link" href="index.html">ГЛАВНАЯ</a></li>
                            <li class="menu__item"><a class="menu__link" href="gold.html">ГОЛДА</a></li>
                            <li class="menu__item"><a class="menu__link" href="boosting.html">БУСТИНГ</a></li>
                            <li class="menu__item"><a class="menu__link" href="guarantees.html">ГАРАНТИИ</a></li>
                            <li class="menu__item"><a class="menu__link" href="reviews.html">ОТЗЫВЫ</a></li>
                            <li class="menu__item"><a class="menu__link" href="about.html">О НАС</a></li>
                            <li class="menu__item"><a class="menu__link" href="support.html">ПОДДЕРЖКА</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header> -->
        <main class="main">
            <section class="main-section">
                <div class="main-services section">
                    <div class="container">
                        <h2 class="main-services__title title">НАШИ УСЛУГИ:</h2>
                        <div class="main-cards row">
                            <div class="main-card col-3 col-lg-6 col-md-12">
                                <div class="main-card__box"><a class="main-card__wrapper-link" href="boosting.html"><img
                                            class="main-card__img" src="img/main-cards/01.png" alt="card"> </a><a
                                        class="main-card__name-link" href="boosting.html">МАТЧМЕЙКИНГ С БОТАМИ</a></div>
                            </div>
                            <div class="main-card col-3 col-lg-6 col-md-12">
                                <div class="main-card__box"><a class="main-card__wrapper-link" href="boosting.html"><img
                                            class="main-card__img" src="img/main-cards/02.png" alt="card"> </a><a
                                        class="main-card__name-link" href="boosting.html">КОМАНДНЫЙ БОЙ С БОТАМИ</a>
                                </div>
                            </div>
                            <div class="main-card col-3 col-lg-6 col-md-12">
                                <div class="main-card__box"><a class="main-card__wrapper-link" href="boosting.html"><img
                                            class="main-card__img" src="img/main-cards/03.png" alt="card"> </a><a
                                        class="main-card__name-link" href="boosting.html">НАПАРНИКИ С БОТАМИ</a></div>
                            </div>
                            <div class="main-card col-3 col-lg-6 col-md-12">
                                <div class="main-card__box"><a class="main-card__wrapper-link" href="gold.html"><img
                                            class="main-card__img" src="img/main-cards/04.png" alt="card"> </a><a
                                        class="main-card__name-link" href="gold.html">КУПИТЬ ИЛИ ПРОДАТЬ ГОЛДУ</a></div>
                            </div>
                            <div class="main-card col-6 col-lg-6 col-md-12">
                                <div class="main-card__box"><a class="main-card__wrapper-link" target="_blank"
                                        href="https://t.me/middlebooster">
                                        <picture>
                                            <source srcset="img/main-cards/06.png" type="image/png"
                                                media="(max-width:992px)"><img class="main-card__img"
                                                src="img/main-cards/05.png" alt="card"></picture>
                                    </a><a class="main-card__name-link" target="_blank"
                                        href="https://t.me/middlebooster">СОТРУДНИЧЕСТВО С НАМИ</a></div>
                            </div>
                            <div class="main-card col-6 col-lg-6 col-md-12">
                                <div class="main-card__box"><a class="main-card__wrapper-link" target="_blank"
                                        href="https://t.me/StandService_Bot">
                                        <picture>
                                            <source srcset="img/main-cards/08.png" type="image/png"
                                                media="(max-width:992px)"><img class="main-card__img"
                                                src="img/main-cards/07.png" alt="card"></picture>
                                    </a><a class="main-card__name-link" target="_blank"
                                        href="https://t.me/StandService_Bot">БЕСПЛАТНЫЙ БУСТ ЗА ПОДПИСКУ</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="advantages section">
                    <div class="container">
                        <div class="advantages__box">
                            <h2 class="advantages__title title">МЫ — №1 В СВОЕМ ДЕЛЕ</h2>
                            <p class="advantages__text">Представляем Вашему вниманию лучший проект по бустингу аккаунтов
                                в игре Standoff 2, которому в 2022 году исполнилось 3 года! С помощью нашего сервиса Вы
                                можете приобрести голду намного дешевле, чем в игре, заказать бустинг с ботами и
                                прокачать свое звание, воспользоваться гарант услугами и многое другое!</p>
                        </div>
                        <div class="divider"></div>
                        <div class="tabs row">
                            <ul class="tabs__col col-4 col-xl-5 col-lg-12">
                                <li class="tabs__item active-tab" data-tab="#tab-1"><i
                                        class="tabs__icon icon-users"></i>
                                    <h4 class="tabs-title">ПРОФЕССИОНАЛИЗМ</h4>
                                    <p class="tabs-text">ОПЫТ И СОВРЕМЕННЫЙ ПОДХОД</p><span
                                        class="corner corner-1"></span> <span class="corner corner-2"></span>
                                </li>
                                <li class="tabs__item" data-tab="#tab-2"><i class="tabs__icon icon-shield"></i>
                                    <h4 class="tabs-title">ГАРАНТИИ</h4>
                                    <p class="tabs-text">ЧЕСТНОСТЬ И НАДЕЖНОСТЬ</p><span class="corner corner-1"></span>
                                    <span class="corner corner-2"></span>
                                </li>
                                <li class="tabs__item" data-tab="#tab-3"><i class="tabs__icon icon-support1"></i>
                                    <h4 class="tabs-title">ОБСЛУЖИВАНИЕ</h4>
                                    <p class="tabs-text">РЕАЛЬНАЯ ЗАБОТА О КЛИЕНТАХ</p><span
                                        class="corner corner-1"></span> <span class="corner corner-2"></span>
                                </li>
                                <li class="tabs__item" data-tab="#tab-4"><i class="tabs__icon icon-tachometer"></i>
                                    <h4 class="tabs-title">СКОРОСТЬ</h4>
                                    <p class="tabs-text">ПРОБУСТИМ В СРОКИ</p><span class="corner corner-1"></span>
                                    <span class="corner corner-2"></span>
                                </li>
                            </ul>
                            <section class="tabs__col col-8 col-xl-7 col-lg-12">
                                <article class="tabs-content active-tab" id="tab-1">
                                    <div class="tabs-content__wrapper-img"><img class="tabs-content__img"
                                            src="img/advantages/bg-01.jpg" alt="advantages"></div>
                                    <div class="tabs-content__box">
                                        <h4 class="tabs-title">КОМАНДА ПРОФЕССИОНАЛОВ</h4>
                                        <p class="tabs-text">БОЛЕЕ 3 ЛЕТ В СФЕРЕ БУСТИНГА</p>
                                        <p class="tabs-content__text">Мы — молодая, но мощная команда бустеров,
                                            про-игроков и просто любителей игры Standoff 2. В нашем арсенале новейшие
                                            технологии, любовь к своему делу и многолетний опыт.</p><span>Мы знаем, с
                                            чем имеем дело. И мы знаем, как Вам помочь.</span>
                                    </div>
                                </article>
                                <article class="tabs-content" id="tab-2">
                                    <div class="tabs-content__wrapper-img"><img class="tabs-content__img"
                                            src="img/advantages/bg-02.jpg" alt="advantages"></div>
                                    <div class="tabs-content__box">
                                        <h4 class="tabs-title">ГАРАНТИИ</h4>
                                        <p class="tabs-text">МЫ ДЕРЖИМ СВОЕ СЛОВО</p><span>Основания для доверия</span>
                                        <ul>
                                            <li>Прохождение нами идентификации от платежных систем (предоставление им
                                                паспортных данных, личная встреча с их представителями). В результате
                                                проверок нам были выданы высшие статусы в различных платежных системах.
                                            </li>
                                            <li>Множество положительных отзывов о нашей работе в ВКонтакте и на нашем
                                                сайте. Люди, которые уже работали с нами, остались довольны и
                                                рекомендуют нас другим игрокам.</li>
                                            <li>Нас рекламируют популярные ютуберы и тиктокеры, которые заслуживают
                                                Вашего доверия.</li>
                                        </ul><span>Если мы Вас убедили, то можете <a href="boosting.html">заказать буст
                                                в Standoff 2 здесь.</a></span>
                                    </div>
                                </article>
                                <article class="tabs-content" id="tab-3">
                                    <div class="tabs-content__wrapper-img"><img class="tabs-content__img"
                                            src="img/advantages/bg-03.jpg" alt="advantages"></div>
                                    <div class="tabs-content__box">
                                        <h4 class="tabs-title">ОБСЛУЖИВАНИЕ</h4>
                                        <p class="tabs-text">МЫ ТЕБЯ ЛЮБИМ ❤️</p>
                                        <p class="tabs-content__text">Клиент – это самый важный посетитель. Не он
                                            зависит от нас. Мы зависим от него. Он не прерывает нашу работу. Он – цель
                                            нашей работы. Он не по ту сторону нашего бизнеса. Он – его часть. Мы не
                                            делаем ему одолжение, обслуживая его. Он делает нам одолжение, давая
                                            возможность это сделать.</p>
                                    </div>
                                </article>
                                <article class="tabs-content" id="tab-4">
                                    <div class="tabs-content__wrapper-img"><img class="tabs-content__img"
                                            src="img/advantages/bg-04.jpg" alt="advantages"></div>
                                    <div class="tabs-content__box">
                                        <h4 class="tabs-title">СКОРОСТЬ</h4>
                                        <p class="tabs-text">БЫСТРЕЕ НАС ТОЛЬКО ФЛЭШ ⚡</p>
                                        <p class="tabs-content__text">Забудьте про длинные очереди и утомительные
                                            ожидания. Покупая буст на нашем сайте, Вы моментально получите желаемое в
                                            кратчайшие сроки.</p><span>Мы ценим Ваше время и умеем правильно им
                                            распоряжаться.</span>
                                    </div>
                                </article>
                            </section>
                        </div>
                    </div>
                </section>
                <section class="conditions-service section">
                    <div class="container">
                        <h5 class="conditions-service__title">УСЛОВИЯ <span>БУСТИНГА</span></h5>
                        <div class="conditions row">
                            <div class="conditions__col col-4 col-lg-6 col-md-12">
                                <div class="conditions__item">
                                    <div class="conditions__box"><i class="conditions__icon icon-calculator"></i>
                                        <h4 class="conditions__title">ОЗНАКОМЬТЕСЬ С <strong>ЦЕНАМИ НА САЙТЕ</strong>
                                        </h4>
                                        <p class="conditions__text">Калькулятор цен находится на странице «Бустинг».
                                            Перед тем, как заказать буст, внимательно ознакомьтесь с ценами!</p>
                                    </div>
                                    <div class="conditions__btn"><a class="conditions__link" href="boosting.html">УЗНАТЬ
                                            БОЛЬШЕ</a></div>
                                </div>
                            </div>
                            <div class="conditions__col col-4 col-lg-6 col-md-12">
                                <div class="conditions__item">
                                    <div class="conditions__box"><i class="conditions__icon icon-lightbulb"></i>
                                        <h4 class="conditions__title">ПРОЧИТАЙТЕ, <strong>КАК РАБОТАЕТ БУСТИНГ</strong>
                                        </h4>
                                        <p class="conditions__text">Обязательно изучите процесс бустинга, как он
                                            работает и как со 100% гарантией уберечь свой аккаунт от бана и т. д.</p>
                                    </div>
                                    <div class="conditions__btn"><a class="conditions__link" href="boosting.html">УЗНАТЬ
                                            БОЛЬШЕ</a></div>
                                </div>
                            </div>
                            <div class="conditions__col col-4 col-lg-6 col-md-12">
                                <div class="conditions__item">
                                    <div class="conditions__box"><i class="conditions__icon icon-smile"></i>
                                        <h4 class="conditions__title">ПРОЧИТАЙТЕ ОТЗЫВЫ <strong>О НАШЕЙ РАБОТЕ</strong>
                                        </h4>
                                        <p class="conditions__text">У нас много довольных клиентов, почитайте отзывы и
                                            убедитесь в нашей профессиональности сами!</p>
                                    </div>
                                    <div class="conditions__btn"><a class="conditions__link" href="boosting.html">УЗНАТЬ
                                            БОЛЬШЕ</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="reviews-customer">
                    <div class="container">
                        <div class="reviews-customer__container">
                            <div class="reviews-customer__box">
                                <h2 class="reviews-customer__title title">ЧТО О НАС ГОВОРЯТ КЛИЕНТЫ</h2>
                                <p class="reviews-customer__text">Успешно работаем с 2019 года</p>
                            </div>
                            <div class="divider-type-2"></div>
                            <div class="reviews row">
                                <div class="reviews__col col-4 col-md-12">
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/01.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Иван<br>Кусочкин</div>
                                            </div>
                                            <p class="reviews-card__text">Все круто купил буст у Виктора Фёдорова</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id613593039"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/02.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Богдан'вилд<br>Климов</div>
                                            </div>
                                            <p class="reviews-card__text">Самый крутой сайт, купил 1к голды без проблем.
                                                Отдельное спасибо Виктору Федорову</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id558956952"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/03.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Макс<br>Морозов</div>
                                            </div>
                                            <p class="reviews-card__text">Виктор Федоров топ второй раз уже не
                                                обманывает</p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id460536845"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/04.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Макс<br>Корызнов</div>
                                            </div>
                                            <p class="reviews-card__text">Все быстро и хорошо спасибо.</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id621741621"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/05.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Филипп<br>Стребулаев</div>
                                            </div>
                                            <p class="reviews-card__text">Лучший сайт который я видел. Работают быстро и
                                                без обмана. Виктору Фёдорову отдельное спасибо!</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id617468047"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/06.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Евгений<br>Фимов</div>
                                            </div>
                                            <p class="reviews-card__text">Это лучший сайт который я видел!!! Рабочие
                                                моментально делают свою задачу</p><a class="reviews-card__link_hidden"
                                                target="_blank" href="https://vk.com/id491323752"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/07.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Остап<br>Громов</div>
                                            </div>
                                            <p class="reviews-card__text">Лучший сайт. Голда по дешевому курсу. Выгодный
                                                буст. Где то 300 килов за 1 игру в командном бою. Отдельное спасибо
                                                Виктору Федорову)</p><a class="reviews-card__link_hidden"
                                                target="_blank" href="https://vk.com/id522915171"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/08.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Данил<br>Сергеев</div>
                                            </div>
                                            <p class="reviews-card__text">Все супер! Можете заказывать</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id446216790"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/09.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Александр<br>Дубровский</div>
                                            </div>
                                            <p class="reviews-card__text">Спасибо огромное забустили в первый раз кнш
                                                285 киллов но дальше будет лучше СПАСИБО</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id503778871"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/10.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Артём<br>Красильников</div>
                                            </div>
                                            <p class="reviews-card__text">Всё хорошо буст быстрый не кинули</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id615625572"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__col col-4 col-md-12">
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/11.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Maxplay<br>Shandra</div>
                                            </div>
                                            <p class="reviews-card__text">Купил 100 голды,пришли быстро,очень рад что не
                                                обманули!</p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id537336358"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/12.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Саша<br>Сергеев</div>
                                            </div>
                                            <p class="reviews-card__text">Спс топ, не смотря на проблемы выдали голду
                                            </p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id483648634"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/13.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Тима<br>Шевнин</div>
                                            </div>
                                            <p class="reviews-card__text">Покупаю голду не в первый раз,опять не
                                                обманули,советую всем❤</p><a class="reviews-card__link_hidden"
                                                target="_blank" href="https://vk.com/id562555548"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/14.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Алишер<br>Медетов</div>
                                            </div>
                                            <p class="reviews-card__text">Лучший буст во всем мире .Парни молодцы
                                                🥺🤞Лучшие ❤.Всем советую</p><a class="reviews-card__link_hidden"
                                                target="_blank" href="https://vk.com/id554330382"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/15.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Захар<br>Фокин</div>
                                            </div>
                                            <p class="reviews-card__text">Все топ! Челы не кинули)</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id491374148"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/16.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Андрей<br>Миронин</div>
                                            </div>
                                            <p class="reviews-card__text">Все топ, заказал буст не кинули</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id356746060"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/17.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Серёжа<br>Молчанинов</div>
                                            </div>
                                            <p class="reviews-card__text">лучший буст❤</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id462170704"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/18.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Sergek<br>Sorunnai</div>
                                            </div>
                                            <p class="reviews-card__text">Хороший сайт по бусту, всем советую, не
                                                кидает!😻</p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id626789354"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/01.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Роберт<br>Медведев</div>
                                            </div>
                                            <p class="reviews-card__text">самая лучший сайт по бусту, не кинули не разу.
                                                🥰</p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id655741624"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/20.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Китирисов<br>Максим</div>
                                            </div>
                                            <p class="reviews-card__text">Лучшая группа Виктору Фёдоров отдельное
                                                спасибо!</p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id572960029"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__col col-4 col-md-12">
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/21.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Рамиль<br>Аполонов</div>
                                            </div>
                                            <p class="reviews-card__text">топ</p><a class="reviews-card__link_hidden"
                                                target="_blank" href="https://vk.com/id561644967"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/22.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Даниил<br>Айпадов</div>
                                            </div>
                                            <p class="reviews-card__text">Виктор Фёдоров лучший оформил все быстро и
                                                качественно советую всем. P.s завтра мб ещё закажу :)</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id555755620"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/01.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Дмитрий<br>Петров</div>
                                            </div>
                                            <p class="reviews-card__text">Все очень качественно и быстро, и самое
                                                главное без обмана. Очень советую!</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id662060217"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/24.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Вадим<br>Стругов</div>
                                            </div>
                                            <p class="reviews-card__text">Топ группа не кидает</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id643492541"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/25.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Андрей<br>Орлов</div>
                                            </div>
                                            <p class="reviews-card__text">Буст топ не разу не обманули ребята топ
                                                уважуха</p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id560721746"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/26.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Андрей<br>Якунин</div>
                                            </div>
                                            <p class="reviews-card__text">Заказал буст,не обманули,+300 килов и +0,14 КД
                                            </p><a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id653919468"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/27.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Артём<br>Голубев</div>
                                            </div>
                                            <p class="reviews-card__text">Заказал бусты и голду (за год раз 20),и ни
                                                разу не обманули. Просто лю❤</p><a class="reviews-card__link_hidden"
                                                target="_blank" href="https://vk.com/id526452351"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/28.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Андрей<br>Мороз</div>
                                            </div>
                                            <p class="reviews-card__text">2 раз уже покупаю не кинул</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id457348119"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/29.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Stanislav<br>Likhachev</div>
                                            </div>
                                            <p class="reviews-card__text">не кинул на 1к голды, спасибо что вы есть)</p>
                                            <a class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id504113924"></a>
                                        </div>
                                    </div>
                                    <div class="reviews-card">
                                        <div class="reviews-card__box">
                                            <div class="reviews-card__author">
                                                <div class="reviews-card__preview"><img class="reviews-card__img"
                                                        src="img/authors/30.jpg" alt="author"></div>
                                                <div class="reviews-card__name">Виктор<br>Маяков</div>
                                            </div>
                                            <p class="reviews-card__text">Крч я был голд1 и за 3 матча смогли апнут мне
                                                голд3 топ чел все быстро и без обмана если что за инфой в лс</p><a
                                                class="reviews-card__link_hidden" target="_blank"
                                                href="https://vk.com/id234329203"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <!-- <footer class="footer">
            <div class="footer__top">
                <div class="container">
                    <div class="footer__row row">
                        <article class="footer__col col-6 col-md-12">
                            <div class="footer-about"><a class="footer-about__logo logo" href="index.html"><img
                                        class="logo__img" src="img/svg/logo.svg" alt="logo"></a>
                                <p class="footer-about__text">Stand Service – это мощная команда бустеров, про-игроков и
                                    просто любителей игры Standoff 2. В нашем арсенале новейшие технологии, любовь к
                                    своему делу и многолетний опыт. Мы знаем, с чем имеем дело. И мы знаем, как Вам
                                    помочь.</p>
                                <ul class="footer-about__list">
                                    <li class="footer-about__item"><a class="footer-about__link" target="_blank"
                                            href="https://t.me/middlebooster">Сотрудничество с нами</a></li>
                                    <li class="footer-about__item"><a class="footer-about__link"
                                            href="agreement.html">Пользовательское соглашение</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="footer__col col-2 col-md-12">
                            <div class="footer-menu">
                                <h5 class="footer-title">МЕНЮ</h5>
                                <ul class="footer-menu__list">
                                    <li class="footer-menu__item"><a class="footer-menu__link"
                                            href="index.html">ГЛАВНАЯ</a></li>
                                    <li class="footer-menu__item"><a class="footer-menu__link"
                                            href="gold.html">ГОЛДА</a></li>
                                    <li class="footer-menu__item"><a class="footer-menu__link"
                                            href="boosting.html">БУСТИНГ</a></li>
                                    <li class="footer-menu__item"><a class="footer-menu__link"
                                            href="guarantees.html">ГАРАНТИИ</a></li>
                                    <li class="footer-menu__item"><a class="footer-menu__link"
                                            href="reviews.html">ОТЗЫВЫ</a></li>
                                    <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">О
                                            НАС</a></li>
                                    <li class="footer-menu__item"><a class="footer-menu__link"
                                            href="support.html">ПОДДЕРЖКА</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="footer__col col-4 col-md-12">
                            <div class="footer-widget">
                                <h5 class="footer-title">TELEGRAM</h5><iframe id="tgw_619f2beeeea51566507f0513"
                                    frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no"
                                    width="100%" height="350px" async></iframe>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="footer-box">
                        <div class="footer-box__item">
                            <p class="footer-box__copyright-text">⚡<a href="index.html">STAND-SERVICE.RU</a> © 2019-2022
                            </p>
                        </div>
                        <div class="footer-box__item">
                            <ul class="footer-box__icons-list">
                                <li class="footer-box__icons-item"><a class="icon-vk" target="_blank"
                                        href="https://vk.com/oldbooster"></a></li>
                                <li class="footer-box__icons-item"><a class="icon-tg" target="_blank"
                                        href="https://t.me/stand_service"></a></li>
                                <li class="footer-box__icons-item"><a class="icon-yt" target="_blank"
                                        href="https://www.youtube.com/channel/UCrjLG44uv713SOCcIKYpm9w/featured"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
    <!-- </div> -->
    <script src="js/scripts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
        integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
</div>
{% endblock %}

</html>