
{% load static %}


    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/roulete.css' %}"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

 
 <style>
    .input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(18, 18, 23);
  margin: auto;
  padding: 20px;
  border: 2px solid green;
  width: 80%;
  border-radius: 30px;
}

.modal-input {
    width: 100%;
    margin-top: 15px;
    color: #ffff;
}

.red-text{
  color: #e52a5b;
  border-bottom-color: #e52a5b;
}

.pink-text{
  color: #d766ed;
  border-bottom-color: #d766ed;
}

.violet-text{
  color: #8a5ce5;
  border-bottom-color: #8a5ce5;
}

.blue-text{
  color: #667fff;
  border-bottom-color: #667fff;
}

.light-blue-text{
  color: #209dd2;
  border-bottom-color: #209dd2;
}

.gold-text{
  color: #e7a800;
  border-bottom-color: #e7a800;
}

.grey-text{
  color: #544d64;
  border-bottom-color: #544d64
}
 </style>

<!-- <div class="preload"><canvas id="snow"></canvas>
  <div class="wrapper"> -->
      <header id="header" class="header">
          <div class="container">
              <div class="header__wrapper"><a class="header__logo logo" href="{% url 'index' %}"><img style="width: 185px;" class="logo__img"
                          src=" {% static 'img/svg/log.png' %} " alt="logo"> </a>  <a href="+++++++++++++" class="image-text">
                              <!-- <div class="image-text__image">
                               <img src={% static 'img/gold.png' %} height="90"  />
                              </div>
                              <div class="image-text__text">
                               <h1 style="color:rgb(255, 217, 4); font-size: 50px;">{{ user.gold }}</h1>
                              </div>
                              <img style="margin-left: 10px ;" src={% static 'img/icons/plus.png' %} height="37"  /> -->
                          </a> <a class="burger-btn"
                      href="#"><span></span></a>
                  <nav class="menu">
                      
                      
                      <ul class="menu__list" >
                          
                          <li class="menu__item"><a class="menu__link" href="{% url 'index' %}">ASOSIY</a></li>
                          <li class="menu__item"><a class="menu__link" href="gold.html">GOLD</a></li>
                          <!-- <li class="menu__item"><a class="menu__link" href="guarantees.html">GARANTIYA</a></li> -->
                          <li class="menu__item"><a class="menu__link" href="reviews.html">OTZIVLAR</a></li>
                          <li class="menu__item"><a class="menu__link" href="about.html">BIZ HAQIMIZDA</a></li>
                          <li class="menu__item"><a class="menu__link" href="support.html">BIZ BILAN BOG'LANISH</a></li>
                          <li class="menu__item"><a class="menu__link" href="{% url 'logout' %}">CHIQISH</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </header>




<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div style="text-align: center;" class="container">
        <form method="POST">
            {% csrf_token %}
            {% for i in profile_change %}
            {{ i }} <br>
            {% endfor %}
            <div style="margin-top: 15px;" class="row">
                <button type="button" class="close" style="background-color: red; width: 40%; height: 30px; border-radius: 5px; margin: auto; color: #ffff;">ORQAGA</button>
                <button name="profile" value="profile" type="submit" style="background-color: #59be6e; width: 40%; height: 30px; border-radius: 5px; margin: auto; color: #ffff;">SAQLASH</button>
            </div>
        </form>
    </div>  
  </div>

</div>

    
    <section class="page" data-v-3f78fa57="" data-v-20d09b9b="">
        <div class="container" data-v-3f78fa57="">
            <div class="profile" data-v-3f78fa57="">
                <div class="profile-header" data-v-3f78fa57="">
                    <div class="profile-header__user" data-v-3f78fa57="">
                        <div class="user" data-v-3f78fa57="">
                            <div class="user__inner" data-v-3f78fa57="">
                                <div class="user__top-content" data-v-3f78fa57="">
                                    <div class="user__content" data-v-3f78fa57="">
                                        <div class="user__photo-wrapper" data-v-3f78fa57="">
                                            {% if user.image %}
                                            <img src="{{ user.image.url }}" alt="" class="user__photo" width="50" height="50" data-v-3f78fa57="">
                                            {% else %}
                                            <img src="{% static 'img/avatar_default_player.png' %}" alt="" class="user__photo" width="50" height="50" data-v-3f78fa57="">
                                            {% endif %}
                                        </div>
                                        <div class="user__main-info" data-v-3f78fa57="">
                                            <div class="user__name-wrapper" data-v-3f78fa57="">
                                                <div style="color: white; font-size: 15px; font-weight: 700;" class="user__name" data-v-3f78fa57="">{{ user }}</div>
                                            </div>
                                            <div class="user__balance" data-v-3f78fa57="">{{ user.sum }} so'm </div>
                                            <div style="color: goldenrod" class="user__balance" data-v-3f78fa57="">{{ user.gold }}  <img src="{% static 'img/gold.png' %}" alt="" style="display: initial; width: 38px;"></div>
                                        </div>
                                            <div style="margin-top: 20px;" class="user-tabs__available link_val_profil" data-v-3f78fa57=""> ID:
                                                <div data-v-3f78fa57="">{{ user.id }}</div>
                                            </div>
                                        
                                    </div>
                                </div>        
                  
                            </div>
                        </div>
                    </div>
                   
                </div>

<div class="user-tabs">
    <div class="user__buttons" data-v-3f78fa57=""><!---->
        <div class="user__btn-wrapper" data-v-3f78fa57=""><div class="user__btn">
            ISM: {% if user.first_name %} {{ user.first_name }} {% else %}  yoq {% endif %}
        </div></div>
        <div class="user__btn-wrapper" data-v-3f78fa57=""><div class="user__btn">
            FAMILIYA: {% if user.last_name %} {{ user.last_name }} {% else %}  yoq {% endif %}
        </div></div>
        <div class="user__btn-wrapper" data-v-3f78fa57=""><div class="user__btn">
            EMAIL:  {% if user.email %} {{ user.email }} {% else %}  yoq {% endif %}
        </div></div>
        <div class="user__btn-wrapper" data-v-3f78fa57=""><div class="user__btn">
            NUMBER: {% if user.number %} {{ user.number }} {% else %}  yoq {% endif %}
        </div></div>
        <div class="user__btn-wrapper" data-v-3f78fa57=""><div class="user__btn">
            TELEGRAM USERNAME: {% if user.tg %} {{ user.tg }} {% else %}  yoq {% endif %}
        </div></div>
        <div  class="user__btn-wrapper" data-v-3f78fa57=""><button id="myBtn"
                class="user__btn user__btn" data-v-3f78fa57="" style="text-align: center; background-color: #59be6e;"> Ozgartirish
            </button></div>
    </div>
</div>

                <div class="profile-header__info" data-v-3f78fa57="">
                    <div class="profile-header__additional" data-v-3f78fa57="">
                        <div class="user-avatar">
                            <div class="user-avatar__info">
                                <div style="color: #b3404a" class="user-avatar__title">STANDOFF 2 DAGI AVATARKANGIZ</div>
                                <div class="user-avatar__content">GOLD CHIQAZISH UCHUN STANDOFF 2 DAGI AVATARKANGIZNI YUKLASHINGIZ KERAK</div>
                                <div class="user-avatar__btn-wrapper">
                                    <form method="POST" enctype="multipart/form-data" id="form1">
                                        {% csrf_token %}
                                    <label class="input-file">
                                        {{ img_change }}
                                    <!-- <input type="file" name="file"	 -->
                                    <span style="font-weight: 700;" >OZGARTIRISH</span>
                                    </label>
                                    </form>

                            </div>
                            </div>
                            <div class="user-avatar__case"> 
                                {% if user.image %}
                                <img class="user-avatar__case-image" src="{{ user.image.url }}" alt="ЗАГРУЗИТЬ АВАТАРКУ" style="width: 115px; height: 115px; border: 2px solid rgb(39, 39, 48);">
                                {% else %}
                                <img class="user-avatar__case-image" src="{% static 'img/avatar_default_player.png' %}" alt="ЗАГРУЗИТЬ АВАТАРКУ" style="width: 115px; height: 115px; border: 2px solid rgb(39, 39, 48);">
                                {% endif %}
                                <!-- <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ img_change.as_p }}
                                    <button type="submit">go</button>
                                </form> -->
                            </div>         
                        </div>
                    </div>

                    
                    
                </div>
                <div class="user-tabs" data-v-3f78fa57="">
                    <ul class="user-tabs__list">
                        <li class="user-tabs__item"><a href="/user/1198618/inventory" class="history_top_menu_btn">
                                <div class="user-tabs__btn user-tabs__btn-inner_not-stat">
                                    <div class="user-tabs__btn-icon"><img
                                            src="https://cdn.so2baza.ru/assets/images/user/icon/inventory.png"></div>
                                    Инвентарь <!---->
                                </div>
                            </a></li>
                        <li class="user-tabs__item"><a href="/user/1198618/freecases" class="history_top_menu_btn">
                                <div class="user-tabs__btn user-tabs__btn-inner_not-stat">
                                    <div class="user-tabs__btn-icon"><img
                                            src="https://cdn.so2baza.ru/assets/images/user/icon/freecases.png?v=1">
                                    </div> Бесплатные кейсы <div class="user-tabs__count">0</div>
                                </div>
                            </a></li>
                        
                    </ul>
                </div>
                <div class="user-tabs" data-v-3f78fa57="" style="justify-content: end;">
                    <div class="user-tabs__additional">
                        <div class="user-tabs__available user-tabs__sell-btn-wrapper"> Доступные предметы на вывод <div
                                class="user-tabs__available-toggle"></div>
                        </div>
                        <div class="user-tabs__sell-btn-wrapper"><button
                                class="user-tabs__sell-btn icon_dop__menu sell_all_btn"
                                style="background-color: rgb(212, 70, 70);" onclick="sell_all()">Hammasini sotish</button></div>
                        <div class="user-tabs__sell-btn-wrapper"><button
                                class="user-tabs__sell-btn icon_dop__menu send_item_users"
                                style="background-color: rgb(243, 164, 93);"> Передать скин </button></div>
                        <div class="user-tabs__sell-btn-wrapper"><button
                                class="user-tabs__sell-btn icon_dop__menu gift_code"
                                style="background-color: rgb(68, 228, 44); color: rgb(0, 0, 0);"> Подарок </button>
                        </div>
                        <div class="user-tabs__sell-btn-wrapper"><a href="/exchange"
                                class="user-tabs__sell-btn icon_dop__menu exchanger_btn"> Обменник скинов </a></div>
                        <div class="user-tabs__sell-btn-wrapper"><a href="/shop/item"
                                class="user-tabs__sell-btn icon_dop__menu bay_skin"> Купить скины </a></div>
                        <div class="user-tabs__sell-btn-wrapper"><button
                                class="user-tabs__sell-btn icon_dop__menu kak_output" active-class="active"> Как
                                выводить? </button></div>
                    </div>
                </div>
                <div class="orders" data-v-3f78fa57="">
                    <ul class="items orders__list"></ul><!---->
                    <div class="error__block_info" data-v-71ec44b8="">
                        <div class="cases">
                            <div class="cases-block">
                                <h2 class="casesTEXT">INVENTAR</h2>
                                <div class="case-links-container">
                                    {% for item in items %}
                                        {% if item.category == 'Common' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 grey-text">
                                         <div class="case-price1">{{ item.sell_gold }} G</div> 
                                        <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name grey-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                            
                                        </a>
                                        {% elif item.category == 'Uncommon' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 light-blue-text">
                                        <div class="case-price1">{{ item.sell_gold }} G</div> 
                                         <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name light-blue-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% elif item.category == 'Rare' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 blue-text">
                                         <div class="case-price1">{{ item.sell_gold }} G</div> 
                                        <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name blue-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% elif item.category == 'Epic' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 violet-text">
                                        <div class="case-price1">{{ item.sell_gold }} G</div> 
                                         <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name violet-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                            
                                        </a>
                                        {% elif item.category == 'Legendary' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 pink-text">
                                         <div class="case-price1">{{ item.sell_gold }} G</div> 
                                        <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name pink-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% elif item.category == 'Arcane' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 red-text">
                                          <div class="case-price1">{{ item.sell_gold }} G</div> 
                                            <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name red-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% elif item.category == 'Knife' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 gold-text">
                                         <div class="case-price1">{{ item.sell_gold }} G</div> 
                                        <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name gold-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% elif item.category == 'Gloves' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 gold-text">
                                         <div class="case-price1">{{ item.sell_gold }} G</div> 
                                        <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name gold-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% elif item.category == 'Gold' %}
                                        <a style="border: 0px solid;
                                        border-bottom-width: 11px;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;" class="caseurl1 gold-text">
                                         <div class="case-price1">{{ item.sell_gold }} G</div> 
                                        <img class="case-image" src="{{item.image.url}}" alt="">
                                            <div class="case-name gold-text">{{item.name}}</div>
                                            <button id="{{ item.id }}" class="case-price" onclick="sellitem(this)" >SOTISH</button>
                                            
                                        </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="load" data-v-563616d1=""></div>
                </div>
            </div>
        </div>
    </section>




    <footer class="footer">
      <div class="footer__top">
          <div class="container">
              <div class="footer__row row">
                  <article class="footer__col col-6 col-md-12">
                      <div class="footer-about"><a class="footer-about__logo logo" href="index.html"><img
                                  class="logo__img" src=" {% static 'img/svg/logo.svg' %} " alt="logo"></a>
                          <p class="footer-about__text">Stand Service – это мощная команда бустеров, про-игроков и
                              просто любителей игры Standoff 2. В нашем арсенале новейшие технологии, любовь к
                              своему делу и многолетний опыт. Мы знаем, с чем имеем дело. И мы знаем, как Вам
                              помочь.</p>
                          <ul class="footer-about__list">
                              <li class="footer-about__item"><a class="footer-about__link" target="_blank"
                                      href="https://t.me/middlebooster">Сотрудничество с нами</a></li>
                              <li class="footer-about__item"><a class="footer-about__link"
                                      href="agreement.html">Пользовательское соглашение</a></li>
                          </ul>
                      </div>
                  </article>
                  <article class="footer__col col-2 col-md-12">
                      <div class="footer-menu">
                          <h5 class="footer-title">МЕНЮ</h5>
                          <ul class="footer-menu__list">
                              <li class="footer-menu__item"><a class="footer-menu__link"
                                      href="index.html">ГЛАВНАЯ</a></li>
                              <li class="footer-menu__item"><a class="footer-menu__link"
                                      href="gold.html">ГОЛДА</a></li>
                              <li class="footer-menu__item"><a class="footer-menu__link"
                                      href="boosting.html">БУСТИНГ</a></li>
                              <li class="footer-menu__item"><a class="footer-menu__link"
                                      href="guarantees.html">ГАРАНТИИ</a></li>
                              <li class="footer-menu__item"><a class="footer-menu__link"
                                      href="reviews.html">ОТЗЫВЫ</a></li>
                              <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">О
                                      НАС</a></li>
                              <li class="footer-menu__item"><a class="footer-menu__link"
                                      href="support.html">ПОДДЕРЖКА</a></li>
                          </ul>
                      </div>
                  </article>
                  <article class="footer__col col-4 col-md-12">
                      <div class="footer-widget">
                          <h5 class="footer-title">TELEGRAM</h5><iframe id="tgw_619f2beeeea51566507f0513"
                              frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no"
                              width="100%" height="350px" async></iframe>
                      </div>
                  </article>
              </div>
          </div>
      </div>
      <div class="footer__bottom">
          <div class="container">
              <div class="footer-box">
                  <div class="footer-box__item">
                      <p class="footer-box__copyright-text">⚡<a href="index.html">STAND-SERVICE.RU</a> © 2019-2022
                      </p>
                  </div>
                  <div class="footer-box__item">
                      <ul class="footer-box__icons-list">
                          <li class="footer-box__icons-item"><a class="icon-vk" target="_blank"
                                  href="https://vk.com/oldbooster"></a></li>
                          <li class="footer-box__icons-item"><a class="icon-tg" target="_blank"
                                  href="https://t.me/stand_service"></a></li>
                          <li class="footer-box__icons-item"><a class="icon-yt" target="_blank"
                                  href="https://www.youtube.com/channel/UCrjLG44uv713SOCcIKYpm9w/featured"></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    

 


<script>
  // $('.input-file input[type=file]').on('change', function(){
  // 	let file = this.files[0];
  // 	$(this).next().html(file.name);
  // });
  
          // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  document.getElementById("file111").onchange = function() {
    document.getElementById("form1").submit();
};

var first_name = document.getElementById("id_first_name").setAttribute('value', '{{ user.first_name }}')
var last_name = document.getElementById("id_last_name").setAttribute('value', '{{ user.last_name }}')
var number = document.getElementById("id_number").setAttribute('value', '{{ user.number }}')
var tg = document.getElementById("id_tg").setAttribute('value', '{{ user.tg }}')

function sellitem(obj) {
    $.ajax(
        {
            url: "{% url 'sell_item' %}",
            type: "POST",
            headers: {
            Accept: "application/json",
                },
            data: {'id': obj.id},
            success: function () {
                console.log("succes")
                location.reload()
                }
        }
    )
}

function sell_all() {
    $.ajax(
        {
            url: "{% url 'sell_all' %}",
            type: "GET",
            headers: {
            Accept: "application/json",
            },
            success : function () {
                location.reload()
            }
        }
    )
}


      </script>
<script src="{% static 'js/scripts.min.js' %}"></script>

